@import '~antd/dist/antd.css';
@media only screen and (max-width: 769px) {
    .ant-col-12 {
        width: 100%;
    }
    .katex-display {
        margin: 1rem 0 !important;
        height: 20rem!important;
        min-height: 20rem!important;
        width: unset;
        max-width: unset;
    }
    .content-right {
        max-width: unset;
    }
    textarea.ant-input {
        height: 20rem!important;
        min-height: 20rem!important;
    }
}

body {
    font-size: 16px;
}

.content-left {
    margin: 1vh;
}

.content-right {
    /* border: 1px solid #d9d9d9;
    border-radius: 3px; */
    max-width: 50%;
    overflow: auto;
    margin: 1vh;
}

textarea.ant-input {
    height: 40rem;
    min-height: 40rem;
}

.ant-layout-header {
    background: unset;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
